body{
  background-color: gold;
  border: 10px solid black;
}
.sentence1{
  color: blue;
  display: inline-block;
  border: blue;
}
.paragraph-1{
  height: 400px;
  width: 250px;
  border: 2px solid blue;
  float: left;
}
