*{
  margin: 0;
  padding: 0;
}
header{
  border: 2px solid black;
  background-color: black;

}
nav li{
  color: white;
  list-style: none;
  display: inline-block;
  margin: 40px auto;
  text-align: center;
}

.city{
  background-image: url('img/bg.jpg');
  height: 500px;
}
.banner-text, .banner-text-2{
  color: white;
  margin-left: 35%;
  font-size: 35px;
}
.enough-container{
  /* border: 2px solid black; */
  margin-right: 40%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.never-enough{
  margin: 10px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin: 30px

}
.image-1{
  background-image: url('img/logo-2.png');
  background-size: 50% 70%;
  background-repeat: no-repeat;
  height: 40%;
  width: 70%;
  margin-left: auto;
  margin-top: 5px;
}
.image-2{
  background-image: url('img/logo-1.png');
  background-size: 50% 70%;
  background-repeat: no-repeat;
  height: 40%;
  width: 70%;
  margin-left: auto;
  margin-top: 5px;
}
.image-3{
  background-image: url('img/logo-3.png');
  background-size: 50% 70%;
  background-repeat: no-repeat;
  height: 40%;
  width: 70%;
  margin-left: auto;
  margin-top: 5px;
}
.box{
  margin: 30px;
  height: 400px;
  width: 400px;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  content: center;
}
.text{
  margin: 10px;
  font-size: 28px;
  text-align: center;
}
.paragraph{
  margin: 10px;
}
