*{
  margin: 0;
  padding: 0;
}
.container{
  margin: 0 auto;
}
.image :hover{
  background-color: #68E88C;
}
.list-item{
  border: 2px solid black;
  width: 40%;
  margin: 10px 40px;
  float: left;
  background-color: #7EFFC7;
  border-radius: 20px;
  box-shadow: 10px 10px;
}
.image{
  width: 100px;
  height: 100px;
  background-image: url("img/frog.png");
  background-size: 100% 100%;
  border: 2px solid green;
  margin: 0 auto;
  border-radius: 10px;
}
h1{
  text-align: center;
}
p{
  margin: 10px;
}
