.wrapper{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.box{
  background-color: lightblue;
  border: 2px solid;
  padding: 10px;
}
/*  */
.c {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  border: 2px solid black;
}
/* .d {
  grid-column-start: 1;
  grid-column-end: 3;
} */
